<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/main.js" type="module"></script>
</head>
<body>
    <h1>Snake : the returning return of the revengeful revenge</h1>
    <div id="snakeApp">
        <div v-if="!launched">
            <p>-Faites en sorte que le serpent mange la nourriture, en vert, et grandisse.</p>
            <p>-Tous les 10 cycles de croissance, le terrain et le serpent sont réinitialisés et la vitesse augmente.</p>
            <p>-Attention, les serpents n'étant pas encore bien socialement acceptés, une réaction mesurée est utilisée : des mines.</p>
            <p>-De plus, pour paraphraser un ancien personnage historique de l'est, le serpent a le choix entre une mine potentielle devant et une mort certaine en cas de demi-tour sur lui-même.</p>
            <p>Bon courage !</p>
            <button type="button" @click="launchGame">Lancer la partie</button>
        </div>
        <div v-if="launched">
            <p v-if="!lost">Score : {{ score }} / Level : {{ level }}</p>
            <div v-if="!lost">
                <button id="pause" type="button" @click="pause" v-if="!paused">Pause</button>
                <button id="resume" type="button" @click="pause" v-if="paused">Relancer</button>
            </div>
            <table id="game-grid">
                <tbody>
                    <tr v-for="posY of game.getHeigth()">
                        <td :data-posx="posX" :data-posy="posY" v-for="posX of game.getWidth()"></td>
                    </tr>
                </tbody>
            </table>
            <div id="div" class="score-resumee" v-if="lost">
                <p  id="lost">PERDU !</p>
                <p>Votre score est de {{ score }} point(s)</p>
                <button type="button" @click="reload">Recommencer</button>
            </div>
        </div>
    </div>
</body>
</html>