:root{
    --color1: darkblue;
    --color2: red;
    --color3: lightblue;
}

*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    background-color: var(--color1);
}

h1{
    text-align: center;
    color: var(--color3);
}

table{
    border-spacing: 0;
    border: 2px solid black;
    margin: auto;
    background-color: var(--color3);
}

td{
    width: 3rem;
    height: 3rem;
}

p{
    text-align: center;
    font-size: 3rem;
    color: var(--color2);
}
