:root{
    --color1: darkblue;
    --color2: red;
    --color3: lightblue;
}

*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    height: 98vh;
    background-color: var(--color1);
}

#snakeApp{
    height: 75%;
}

h1{
    text-align: center;
    margin: 10px 0;
    color: var(--color3);
}

table{
    border-spacing: 0;
    border: 2px solid black;
    margin: auto;
    background-color: var(--color3);
}

td{
    width: 3rem;
    height: 3rem;
}

p{
    text-align: center;
    font-size: 2rem;
    margin: 0;
    color: var(--color3);
}

button{
    padding: 10px 15px;
    margin: auto;
    font-size: 1.6rem;
    font-weight: bold;
    border: 1px solid var(--color1);
    background-color: var(--color3);
    color: var(--color1);
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score-resumee{
    height: 50vh;
    display: flex;
    flex-direction: column;
}

.anim{
    animation: explode-anim ease-in-out 1000ms;
}

@keyframes explode-anim{
    from{transform:scale(1)}
    30%{transform:scale(10)}
    to{transform:scale(1)}
}